@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oxanium:wght@200;300;400;500;600;700;800&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');

/* Utilitykod för hela sidan */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: rgb(242, 242, 242);
    --dark: rgb(51, 51, 51);
    --green: rgb(80, 153, 51);
    --red: rgb(153, 56, 51);
    --blue: rgb(51 84 153);
    --green-tint: rgb(15 54 0 / 50%);
    --red-tint: rgb(93 8 4 / 50%);
    --blue-tint: rgb(0 33 102 / 50%);
    --shade: rgba(0, 0, 0, 0.20);
    --title: 'Oxanium', sans-serif;
}

body {
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

.wrapper {
    max-width: 1100px;
    margin: 2rem auto;
    background-color: white;
    padding: 4rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
}

/* Kod som gäller specifikt i header */

.header {
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header__logo-navigation-link {
    text-decoration: none;
    align-self: center;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logotype {
    max-width: 3.75rem;
    height: auto;
    align-self: center;
    margin-right: 1rem;
}

.header__headtitle {
    font-family: var(--title);
    font-size: 3rem;
    color: black;
}

.header__page-navigation {
    grid-area: auto / 3 / span 1 / span 1;
    display: flex;
    align-items: center;
}

.header__navigation-list {
    display: flex;
    list-style: none;
    padding: 2rem 0;
}

.header__navigation-link {
    padding: 2rem;
    width: 100%;
    text-decoration: none;
    color: var(--dark);
    transition: .2s ease-in;
}

.header__navigation-link:hover {
    background-color: var(--dark);
    color: var(--light);
}

.header__burger-container {
    display: none;
    justify-content: end;
    align-items: center;
    padding: 2rem 2rem 3rem 4rem;
}

.header__burger-toggle {
    opacity: 0;
}

.header__burger-toggle:checked~.header__navigation-list {
    visibility: visible;
    top: 6.7rem;
    right: 0.3rem;
}

.header__burger-btn,
.header__burger-btn::before,
.header__burger-btn::after {
    display: block;
    position: absolute;
    background-color: var(--dark);
    height: 3px;
    width: 30px;
    transition: all 400ms ease-in-out;
}

.header__burger-btn::before {
    content: '';
    transform-origin: left;
    margin-top: -8px;
}

.header__burger-btn::after {
    content: '';
    transform-origin: left;
    margin-top: 8px;
}

.header__burger-toggle:checked+.header__burger-container .header__burger-btn::before {
    margin-top: 0;
    transform-origin: center;
    transform: rotate(45deg);
}

.header__burger-toggle:checked+.header__burger-container .header__burger-btn {
    background-color: rgba(255, 255, 255, 0);
    transform: rotate(180deg);
}

.header__burger-toggle:checked+.header__burger-container .header__burger-btn::after {
    margin-top: 0;
    transform-origin: center;
    transform: rotate(-45deg);
}


/* Kod i main, specifikt hero på alla sidor. */

.hero {
    margin: 5rem 0 4rem 0;
}

.hero__page-title {
    font-size: 7rem;
    font-family: var(--title);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 3rem;
}

.hero__title-top {
    grid-area: 1 / 1 / span 1 / span 2;
}

.hero__white-text {
    color: white;
    padding: .8rem 0;
}

.hero__white-text--green-background {
    background-color: var(--green);
}

.hero__title-bottom {
    grid-area: 2 / 2 / span 1 / span 1;
    justify-self: center;
}

.hero__title-bottom--wide {
    grid-area: 2 / 1 / span 1 / span 2;
    justify-self: end;
}

.hero__image-container {
    position: relative;
    max-width: 100%;
}

.hero__image-container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.hero__image-container--green-tint::before {
    background-color: var(--green-tint);
}

.hero__image {
    object-fit: cover;
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
    object-position: top;
}

.hero__image--center-aligned {
    object-position: center;
}

.hero__text-container {
    background-color: white;
    position: relative;
    display: flex;
}

.hero__text {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Special Elite';
    margin-top: 4px;
    padding: 4px;
    rotate: .5deg;
}

.hero__text--clipped {
    border: 2px solid white;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.788);
}

/* Kod i footer */

.footer {
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    margin-top: 10rem;
}

.footer__navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__navigation-link {
    padding: 8px 34px;
    text-decoration: none;
    color: var(--dark);
    background-color: white;
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    transition: .2s ease-in;
}

.footer__navigation-link:hover {
    padding: 8px 34px;
    color: var(--light);
    background-color: var(--dark);
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
}

.footer__navigation-icon {
    font-size: 3rem;
}

/* index.html */

.promise-section {
    border-top: 2px solid var(--shade);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
}

.promise-section__headtitle {
    grid-area: auto / auto / span 1 / span 2;
    font-family: var(--title);
    margin-top: 3rem;
    font-size: 2rem;
}

.promise-section__body-text {
    line-height: 1.7;
}

.promise-section__subtitle {
    font-family: var(--title);
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.promise-section__list {
    list-style: none;
    font-size: 1.3rem;
    justify-self: center;
    align-self: start;
}

.promise-section__list-item {
    display: flex;
    align-items: center;
}

.promise-section__list-item::before {
    color: var(--green);
    font-size: 1.5rem;
    content: '✓';
    margin-right: 1rem;
}

.promise-section__list-item--negative::before {
    content: 'X';
    color: var(--red);
}

.promise-section__testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid var(--dark);
    grid-area: auto / auto / span 1 / span 2;
    justify-self: center;
    padding: 2rem 0;
    margin-top: 4rem;
}

.promise-section__testimonial-picture {
    transform: translateY(-80px);
    /* Bilden på Mark Zuckerberg är urklippt från Madame Tussauds vaxkabinett. */
    background-image: url("../assets/photos/the-zuck.png");
    height: 5.5rem;
    width: 5.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-position: 0 -9px;
    background-color: white;
}

.promise-section__testimonial-quote {
    font-style: italic;
    position: absolute;
    text-align: center;
    padding: 2rem 0;
}

/* about.html */

.hero__white-text--red-background {
    background-color: var(--red);
}

.hero__image-container--red-tint::before {
    background-color: var(--red-tint);
}

.facilities-section {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--shade);
    padding-top: 3rem;
}

.facilities-section__title {
    font-family: var(--title);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.facilities-section__room-article {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1.10fr .9fr;
}

.facilities-section__room-article--reversed {
    grid-template-columns: .9fr 1.10fr;
}

.facilities-section__room-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.facilities-section__room-picture--top-aligned {
    object-position: top;
}

.facilities-section__room-title {
    font-family: var(--title);
}

.facilities-section__description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.facilities-section__description-wrapper--reversed {
    order: -1;
}

.facilities-section__room-description {
    margin: .2rem 0;
    line-height: 1.5;
}

.facilities-section__divider {
    background-color: var(--shade);
    border: none;
    width: 80%;
    height: 2px;
    margin: 6rem auto;
}

/* Booking.html */

.hero__white-text--blue-background {
    background-color: var(--blue);
}

.hero__image-container--blue-tint::before {
    background-color: var(--blue-tint);
}

.booking-form {
    border-top: 2px solid var(--shade);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
}

.booking-form__headtitle {
    grid-area: auto / auto / span 1 / span 2;
    color: var(--dark);
    font-size: 2rem;
    font-family: var(--title);
    margin-top: 3rem;
}

.booking-form__input-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: solid var(--shade);
}

.booking-form__title {
    background-color: var(--blue);
    color: white;
}

.booking-form__headline {
    padding: 1rem 0 2rem 0;
}

.booking-form__headline--italic {
    font-style: italic;
}

.booking-form__headline--pointer {
    cursor: pointer;
}

.booking-form__fine-print {
    padding-top: 2rem;
    color: var(--shade);
}

.booking-form__input-area {
    cursor: pointer;
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    padding: .7rem;
    height: 50px;
}

.booking-form__input-area:hover {
    border: 2px solid var(--blue);
}

.booking-form__ai-list-wrapper {
    list-style: none;
}

.booking-form__ai-list-item {
    display: flex;
    align-items: center;
    transition: .2s linear;
}

.booking-form__radio-description:hover {
    color: var(--blue);
    accent-color: var(--blue);
    font-weight: bold;
}

.booking-form__radio-description {
    cursor: pointer;
    padding: .7rem 5rem .7rem 0;
}

.booking-form__radio-selector {
    cursor: pointer;
    accent-color: var(--blue);
    margin-right: 1rem;
    width: 25px;
    height: 25px;
}

.booking-form__contact-info {
    padding: 1rem 0;
    cursor: pointer;
}

.booking-form__submit-btn {
    width: fit-content;
    cursor: pointer;
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 2px solid var(--dark);
    padding: 1rem 2rem;
    background-color: white;
    color: var(--dark);
    transition: .2s ease-in;
    justify-self: end;
    grid-area: auto / 2 / auto / auto;
}

.booking-form__submit-btn:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Confirmation */

.pagetitle {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    font-family: var(--title);
    font-size: 5rem;
    margin: 5rem 0;
}

.pagetitle__top {
    grid-area: auto/auto/span 1 / span 6;
}

.pagetitle__highlight {
    color: white;
    background-color: var(--blue);
    padding: 1rem 2rem;
}

.pagetitle__bottom {
    grid-area: auto/3/span 1 / span 4;
    justify-self: center;
}

.room-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

.room-section__room-card {
    display: grid;
    border: 2px solid var(--shade);
    padding: 1rem;
    transition: border .2s ease-in, transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.room-section__room-card:hover {
    border: 2px solid var(--dark);
    transform: scale(1.003);
}

.room-section__room-card--green:hover {
    box-shadow: 0 0 .8rem var(--green);
}

.room-section__room-card--red:hover {
    box-shadow: 0 0 .8rem var(--red);
}

.room-section__room-card--blue:hover {
    box-shadow: 0 0 .8rem var(--blue);
}

.room-section__room-title {
    margin: 1rem 0;
    font-family: var(--title);
}

.room-section__image-tint::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 6px;
    left: 0;
    content: "";
}

.room-section__image-tint {
    position: relative;
    max-width: 100%;
}

.room-section__image-tint--green-tint::before {
    background-color: var(--green-tint);
}

.room-section__image-tint--red-tint::before {
    background-color: var(--red-tint);
}

.room-section__image-tint--blue-tint::before {
    background-color: var(--blue-tint);
}

.room-section__room-image {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
}

.room-section__room-description {
    padding-top: .4rem;
    line-height: 1.3;
}

.room-section__card-btn {
    background-color: white;
    width: fit-content;
    cursor: pointer;
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 2px solid var(--dark);
    padding: 1rem 1.5rem;
    color: var(--dark);
    transition: background-color 0.2s linear, color 0.2s linear;
    justify-self: end;
    margin-top: 1.5rem;
}

.room-section__card-btn:hover {
    background-color: var(--dark);
    color: var(--light);
}

.room-section__card-btn:active {
    transform: scale(.98);
    transition: transform 0.05s linear;
}

@media screen and (max-width: 960px) {
    .wrapper {
        margin: 0 auto;
        padding: 2rem;
        box-shadow: none;
    }
}

@media screen and (max-width: 850px) {

    .wrapper {
        max-width: 100%;
        margin: 0;
        box-shadow: none;
        padding: 0;
    }

    .hero__page-title {
        padding-top: 5rem;
    }

    .main {
        padding: 0 1rem;
    }

    /* index.html */
    .promise-section__testimonial {
        width: 70%;
        margin-top: 5rem;
    }

}

@media screen and (max-width: 770px) {

    /* Alla sidor */

    .header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: white;
        border: none;
        box-shadow: 0 2px .5rem var(--shade);
    }

    .header__logotype {
        margin: 0 1rem 0 1rem;
    }

    .header__page-navigation {
        flex-direction: column;
    }

    .header__navigation-list {
        background-color: white;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 0;
        width: 200px;
        transition: 0.5s;
        top: 6.7rem;
        right: -100%;
        text-align: center;
        border: 2px solid var(--dark);
    }

    .header__navigation-list-item--border {
        border-top: 2px solid var(--light);
        border-bottom: 2px solid var(--light);
    }

    .header__navigation-link {
        display: block;
    }

    .header__burger-container {
        display: flex;
    }

    .hero__page-title {
        font-size: 5rem;
    }

    /*index.html*/

    .header__navigation-list--green {
        box-shadow: 0 0 .8rem .2rem var(--green);
    }

    /* About */

    .facilities-section__room-article,
    .facilities-section__room-article--reversed {
        grid-template-columns: 1fr;
    }

    .facilities-section__room-picture {
        max-width: 100%;
    }

    .facilities-section__room-title {
        padding: 1rem 0;
    }

    .facilities-section__description-wrapper,
    .facilities-section__description-wrapper--reversed {
        order: 1;
        padding: 0;
        margin: .5rem 0;
    }

    .facilities-section__divider {
        margin: 4rem auto;
    }

    .header__navigation-list--red {
        box-shadow: 0 0 .8rem .2rem var(--red);

    }

    /* Booking.html */

    .booking-form {
        display: flex;
        flex-direction: column;
    }

    .booking-form__submit-btn {
        align-self: end;
    }

    .header__navigation-list--blue {
        box-shadow: 0 0 .8rem .2rem var(--blue);
    }

    /* confirmation.html */

    .pagetitle {
        padding-top: 5rem;
        margin-top: 5rem;
        font-size: 4rem;
    }

}

@media screen and (max-width: 600px) {

    /* Alla sidor */

    :root {
        font-size: 14px;
    }

    .hero__page-title {
        font-size: 5rem;
    }

    .footer {
        border-bottom: none;
    }

    /* index.html */

    .promise-section {
        grid-template-columns: 1fr;
    }

    /* confirmation.html */

    .pagetitle {

        font-size: 4rem;
    }

}

@media screen and (max-width: 480px) {

    /* Alla sidor */

    .hero__page-title {
        font-size: 4rem;
    }

    /* index.html */

    .promise-section {
        column-gap: 0;
    }

    .promise-section__article {
        grid-area: auto/auto/ auto / span 2;
        max-width: 400px;
    }

    .promise-section__testimonial {
        width: 100%;
    }

    .promise-section__list {
        justify-self: start;
    }

    .pagetitle {
        font-size: 3rem;
    }

}

@media screen and (max-width: 385px) {

    /* Alla sidor */

    .hero__page-title {
        font-size: 3.4rem;
    }

    .hero__text {
        font-size: .9rem;
    }

    .pagetitle {
        font-size: 2.3rem;
    }

}

@media screen and (max-width: 340px) {

    /* Alla sidor */

    :root {
        font-size: 12px;
    }

    .room-section {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 300px) {

    /* Alla sidor */

    .hero__text {
        background-color: white;
        color: var(--dark);
        font-family: 'Quantico', Helvetica, Arial, sans-serif;
        margin-top: 2px;
        padding: 4px;
        rotate: 0deg;
        font-size: 1rem;
        font-weight: bold;
    }

    .hero__text--clipped {
        border: none;
        color: var(--dark);
    }
}