@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oxanium:wght@200;300;400;500;600;700;800&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');

/* Utilitykod för hela sidan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: rgb(242, 242, 242);
    --dark: rgb(51, 51, 51);
    --green: rgb(80, 153, 51);
    --red: rgb(153, 56, 51);
    --blue: rgb(51 84 153);
    --green-tint: rgba(80, 153, 51, 0.6);
    --red-tint: rgba(153, 56, 51, 0.8);
    --blue-tint: rgba(51, 83, 153, 0.6);
    --shade: rgba(0, 0, 0, 0.20);
    --title: 'Oxanium', sans-serif;
}

body {
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

.wrapper {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: white;
    padding: 4rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
}

/* .divider {
    background-color: var(--shade);
    border: none;
    width: 100%;
    height: 2px;
    margin: 4rem auto;
} */

.navigation-link--decoration {
    text-decoration: none;
    color: var(--dark);
}

/* Kod som gäller specifikt i header */

.header {
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logotype {
    max-width: 3.75rem;
    height: auto;
    align-self: center;
    margin-right: 1rem;
}

.header__headtitle {
    font-family: var(--title);
    font-size: 3rem;
    color: black;
}

.header__desktop-navigation {
    grid-area: auto / 3 / span 1 / span 1;
    display: flex;
    align-items: center;
}

.header__desktop-navigation-link {
    padding: 2rem;
    transition: .3s ease-in;
}

.header__desktop-navigation-link:hover {
    background-color: var(--dark);
    color: var(--light);
}

.header__burger-container {
    display: none;
    justify-content: end;
    align-items: center;
    padding: 2.5rem 2rem 3rem 4rem;
}

#header__burger-toggle {
    display: none;
}

.header__burger-btn,
.header__burger-btn::before,
.header__burger-btn::after {
    display: block;
    position: absolute;
    background-color: var(--dark);
    height: 2px;
    width: 30px;
    transition: transform 400ms ease-in-out;
}

.header__burger-btn::before {
    content: '';
    transform-origin: left center;
    margin-top: -8px;
}

.header__burger-btn::after {
    content: '';
    transform-origin: left center;
    margin-top: 8px;
}

#header__burger-toggle:checked+.header__burger-container .header__burger-btn::before {
    margin-top: 0;
    transform-origin: center center;
    transform: rotate(45deg);
}

#header__burger-toggle:checked+.header__burger-container .header__burger-btn {
    background: rgba(255, 255, 255, 0);
}

#header__burger-toggle:checked+.header__burger-container .header__burger-btn::after {
    margin-top: 0;
    transform-origin: center center;
    transform: rotate(-45deg);
}

/* Kod i main */

.main__title-wrapper {
    margin: 5rem 0 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main__title-top,
.main__title-bottom {
    font-family: var(--title);
    font-size: 7rem;
}

.main__title-top {
    grid-area: 1 / 1 / span 1 / span 2;
}

.main__text-span {
    color: white;
    padding: .8rem 0;
}

.main__text-span--green {
    background-color: var(--green);

}

.main__title-bottom {
    grid-area: 2 / 2 / span 1 / span 1;
    justify-self: end;
}

.main__hotel-image {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.main__hotel-image--green {
    background-color: var(--green-tint);
    background-image: url("/assets/photos/ex-machina-hotel-juvet-exterior.jpg");
}

.main__image-caption {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Special Elite';
    display: inline-block;
    margin: 4px 0 4rem 0;
    padding: 4px;
    rotate: .5deg;
}

.main__text-span--clipped {
    border: 2px solid white;
    padding: 4px;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.788);
}

.main__testimonials-section {
    border-top: 2px solid var(--shade);
    padding: 10rem 0 8rem 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.main__hotel-offerings {
    list-style: none;
    font-size: 1.5rem;
}

.main__hotel-offerings .main__list-item:before {
    color: var(--green);
    font-size: 2rem;
    content: '✓ ';
}

.main__testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark);
}

.main__the-zuck {
    transform: translateY(-80px);
    background-image: url("../assets/photos/the-zuck.png");
    height: 5.5rem;
    width: 5.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-position: 0 -9px;
    background-color: white;
}

.main__testimonial-quote {
    font-style: italic;
    position: absolute;
    text-align: center;
    padding: 2rem 0;
}

.footer {
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    margin-top: 4rem;
}

.footer__navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__navigation-link {
    padding: 8px 34px;
    color: var(--dark);
    background-color: white;
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    transition: .3s ease-in;
    /* border: 2px solid black;
        box-shadow:
        114px 5px 0 -5px rgba(0, 0, 0, 0.20),
        218px 10px 0 -10px rgba(0, 0, 0, 0.40),
        312px 15px 0 -15px rgba(0, 0, 0, 0.60),
        396px 20px 0 -20px rgba(0, 0, 0, 0.80),
        -114px 5px 0 -5px rgba(0, 0, 0, 0.20),
        -218px 10px 0 -10px rgba(0, 0, 0, 0.40),
        -312px 15px 0 -15px rgba(0, 0, 0, 0.60),
        -396px 20px 0 -20px rgba(0, 0, 0, 0.80); */
}

.footer__navigation-link:hover {
    padding: 8px 34px;
    color: var(--light);
    background-color: var(--dark);
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
}

/* .footer__navigation-link:hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px 34px;
    color: white;
    background-color: black;
    transition: .2s ease-in;
    box-shadow:
        114px 5px 0 -5px rgba(0, 0, 0, 0.80),
        218px 10px 0 -10px rgba(0, 0, 0, 0.60),
        312px 15px 0 -15px rgba(0, 0, 0, 0.40),
        396px 20px 0 -20px rgba(0, 0, 0, 0.20),
        -114px 5px 0 -5px rgba(0, 0, 0, 0.80),
        -218px 10px 0 -10px rgba(0, 0, 0, 0.60),
        -312px 15px 0 -15px rgba(0, 0, 0, 0.40),
        -396px 20px 0 -20px rgba(0, 0, 0, 0.20);
} */

.footer__navigation-icon {
    font-size: 3rem;
}

/* about.html */
.main__text-span--red {
    background-color: var(--red);
}

.main__hotel-image--red {
    background-color: var(--red-tint);
    background-image: url("/assets/photos/ex-machina-nature.jpg");
}

.main__facilities-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    border-top: 2px solid var(--shade);
    padding: 4rem 0;
}

.facilities-section__room-article {
    display: grid;
    grid-template-columns: .7fr 1.3fr;
}

.facilities-section__room-article--reversed {
    grid-template-columns: 1.3fr 0.7fr;
}

.facilities-section__room-picture {
    width: 100%;
}

.facilities-section__description {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    background-color: white;
}

.facilities-section__description--reversed {
    padding-left: 0;
    padding-right: 2rem;
    order: -1;
}



/* Booking.html */
.main__text-span--blue {
    background-color: var(--blue);
}

.booking-form__input-section {
    padding: 2rem;
    margin: 2rem 0;
    border: solid var(--dark);
}

.input-section__title {
    background-color: var(--blue);
    color: white;
}

.main__booking-form {
    border-top: 2px solid var(--shade);
    padding: 4rem 0;
}


.booking-form__input-type-submit {
    margin-top: 4rem;
    border: 2px solid var(--dark);
    padding: 1rem 2rem;
    background-color: white;
    color: var(--dark);
    transition: .3s ease-in;
}

.booking-form__input-type-submit:hover {
    background-color: var(--dark);
    color: var(--light);
}


@media screen and (max-width: 500px) {

    /* Alla sidor */
    .wrapper {
        max-width: 500px;
        margin: 0 auto;
        padding: 0;
        box-shadow: none;
    }

    .main {
        padding: 1rem;
    }

    .header {
        border-top: none;
        display: flex;
        justify-content: space-between;
    }

    .header__desktop-navigation {
        display: none;
    }

    .header__logotype {
        margin: 0 1rem 0 1rem;
    }

    .header__burger-container {
        display: flex;
    }

    .main__title-wrapper {
        margin: 4rem 0 2rem 0;
    }

    .main__title-top,
    .main__title-bottom {
        font-size: 4.5rem;
    }

    .main__hotel-image {
        height: 40vh;
    }

    .footer {
        border-bottom: none;
    }

    /* Index */

    .main__testimonials-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 4rem 0;
        gap: 8rem;
    }

    .main__hotel-offerings {
        justify-self: center;
    }



    /* About */

    .main__facilities-section {
        gap: 4rem;
        padding: 4rem 0;
    }

    .facilities-section__room-article,
    .facilities-section__room-article--reversed {
        display: grid;
        grid-template-columns: 1fr;
    }

    .facilities-section__description,
    .facilities-section__description--reversed {
        order: 1;
        padding: 0;
    }



}