@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oxanium:wght@200;300;400;500;600;700;800&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');

/* Utilitykod för hela sidan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: rgb(242, 242, 242);
    --dark: rgb(51, 51, 51);
    --green: rgb(80, 153, 51);
    --red: rgb(153, 56, 51);
    --blue: rgb(51 84 153);
    --green-tint: rgb(15 54 0 / 50%);
    --red-tint: rgb(93 8 4 / 50%);
    --blue-tint: rgb(0 33 102 / 50%);
    --shade: rgba(0, 0, 0, 0.20);
    --title: 'Oxanium', sans-serif;
}

body {
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

.wrapper {
    max-width: 1100px;
    margin: 2rem auto;
    background-color: white;
    padding: 4rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
}

/* Kod som gäller specifikt i header */

.header {
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logotype {
    max-width: 3.75rem;
    height: auto;
    align-self: center;
    margin-right: 1rem;
}

.header__headtitle {
    font-family: var(--title);
    font-size: 3rem;
    color: black;
}

.header__desktop-navigation {
    grid-area: auto / 3 / span 1 / span 1;
    display: flex;
    align-items: center;
}

.header__desktop-navigation-link {
    text-decoration: none;
    color: var(--dark);
    padding: 2rem;
    transition: .2s ease-in;
}

.header__desktop-navigation-link:hover {
    background-color: var(--dark);
    color: var(--light);
}

.header__burger-container {
    display: none;
    justify-content: end;
    align-items: center;
    padding: 2.5rem 2rem 3rem 4rem;
}

#header__burger-toggle {
    display: none;
}

.header__burger-btn,
.header__burger-btn::before,
.header__burger-btn::after {
    display: block;
    position: absolute;
    background-color: var(--dark);
    height: 2px;
    width: 30px;
    transition: transform 400ms ease-in-out;
}

.header__burger-btn::before {
    content: '';
    transform-origin: left center;
    margin-top: -8px;
}

.header__burger-btn::after {
    content: '';
    transform-origin: left center;
    margin-top: 8px;
}

#header__burger-toggle:checked+.header__burger-container .header__burger-btn::before {
    margin-top: 0;
    transform-origin: center center;
    transform: rotate(45deg);
}

#header__burger-toggle:checked+.header__burger-container .header__burger-btn {
    background: rgba(255, 255, 255, 0);
}

#header__burger-toggle:checked+.header__burger-container .header__burger-btn::after {
    margin-top: 0;
    transform-origin: center center;
    transform: rotate(-45deg);
}

/* Kod i main */

.hero__title-wrapper {
    margin: 5rem 0 3rem 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr 1.fr;
}

.hero__title-top,
.hero__title-bottom {
    font-family: var(--title);
    font-size: 7rem;
    margin: auto 0;
}

.hero__title-top {
    grid-area: 1 / 1 / span 1 / span 2;

}

.hero__text-span {
    color: white;
    padding: .8rem 0;
}

.hero__text-span--green {
    background-color: var(--green);

}

.hero__title-bottom {
    grid-area: 2 / 3 / span 1 / span 1;

}

.hero__image-container {
    position: relative;
    max-width: 100%;
}

.hero__image-container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.hero__image-container::before {
    background-color: var(--green-tint);
}

.hero__image {
    object-fit: cover;
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
}

.hero__image--top {
    object-position: top;
}

.hero__image--center {
    object-position: center;
}

.hero__text-container {
    background-color: white;
    position: relative;
    display: flex;
}

.hero__text {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Special Elite';
    margin: 4px 0 4rem 0;
    padding: 4px;
    rotate: .5deg;
}

.hero__text--clipped {
    border: 2px solid white;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.788);
}

.main__offerings-section {
    border-top: 2px solid var(--shade);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
}

.offerings-section__headtitle {
    grid-area: auto / auto / span 1 / span 2;
    font-family: var(--title);
    margin-top: 3rem;
    font-size: 2rem;
}

.offerings-section__body-text {
    line-height: 1.7;
}

.offerings-section__subtitle {
    font-family: var(--title);
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.main__hotel-offerings {
    list-style: none;
    font-size: 1.3rem;
    margin-bottom: 6rem;
    justify-self: center;
    align-self: start;
}

.main__list-item {
    display: flex;
    align-items: center;
}

.main__list-item::before {
    color: var(--green);
    font-size: 1.5rem;
    content: '✓';
    margin-right: 1rem;
}

.main__list-item--negative::before {
    content: 'X';
    color: var(--red);
}

.main__testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid var(--dark);
    grid-area: auto / auto / span 1 / span 2;
    justify-self: center;
    padding: 2rem 0;
}

.main__testimonial-picture {
    transform: translateY(-80px);
    background-image: url("../assets/photos/the-zuck.png");
    height: 5.5rem;
    width: 5.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-position: 0 -9px;
    background-color: white;
}

.main__testimonial-quote {
    font-style: italic;
    position: absolute;
    text-align: center;
    padding: 2rem 0;
}

/* Kod i footer */

.footer {
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    margin-top: 10rem;
}

.footer__navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__navigation-link {
    padding: 8px 34px;
    text-decoration: none;
    color: var(--dark);
    background-color: white;
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    transition: .2s ease-in;
}

.footer__navigation-link:hover {
    padding: 8px 34px;
    color: var(--light);
    background-color: var(--dark);
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
}

.footer__navigation-icon {
    font-size: 3rem;
}

/* about.html */
.hero__text-span--red {
    background-color: var(--red);
}

.hero__image-container--red-tint::before {
    background-color: var(--red-tint);
}

.main__facilities-section {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--shade);
    padding-top: 3rem;
}

.facilities-section__title {
    font-family: var(--title);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.facilities-section__room-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.facilities-section__room-article--border {
    border-top: 2px solid var(--shade);
    border-bottom: 2px solid var(--shade);
}

.facilities-section__room-picture {
    height: 100%;
    max-width: 500px;
    object-fit: cover;
    padding-right: 2rem;
}

.facilities-section__room-picture--reversed {
    padding-right: 0;
    padding-left: 2rem;
}

.facilities-section__room-title {
    font-family: var(--title);
}

.facilities-section__description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.facilities-section__description-wrapper--reversed {
    order: -1;
}

.facilities-section__room-description {
    margin: .5rem 0;
    line-height: 1.2;
}

.facilities-section__divider {
    background-color: var(--shade);
    border: none;
    width: 80%;
    height: 2px;
    margin: 6rem auto;
}



/* Booking.html */
.hero__text-span--blue {
    background-color: var(--blue);
}

.hero__image-container--blue-tint::before {
    background-color: var(--blue-tint);
}

.booking-form {
    border-top: 2px solid var(--shade);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
}

.booking-form__headtitle {
    grid-area: auto / auto / span 1 / span 2;
    color: var(--dark);
    font-size: 2rem;
    font-family: var(--title);
    margin-top: 3rem;
}

.booking-form__input-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: solid var(--shade);
}

.booking-form__title {
    background-color: var(--blue);
    color: white;
}

.booking-form__headline {
    padding: 1rem 0 2rem 0;
}

.booking-form__headline--italic {
    font-style: italic;
}

.booking-form__headline--pointer {
    cursor: pointer;
}

.booking-form__fine-print {
    padding-top: 2rem;
    color: var(--shade);
}

.booking-form__input-area {
    cursor: pointer;
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    padding: .7rem;
    height: 50px;
}

.booking-form__input-area:hover {
    border: 2px solid var(--blue);
}

.booking-form__list-wrapper {
    list-style: none;
}

.booking-form__list-item {
    display: flex;
    align-items: center;
    padding: .7rem 0;
    transition: .2s linear;
}

.booking-form__list-item:hover {
    color: var(--blue);
    accent-color: var(--blue);
    font-weight: bold;
}

.booking-form__radio-description {
    cursor: pointer;
}

.booking-form__radio-selector {
    cursor: pointer;
    accent-color: var(--blue);
    margin-right: 1rem;
    width: 25px;
    height: 25px;
}

.booking-form__contact-info {
    padding: 1rem 0;
    cursor: pointer;
}

.booking-form__submit-btn {
    width: 150px;
    cursor: pointer;
    font-family: 'Quantico', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 2px solid var(--dark);
    padding: 1rem 2rem;
    background-color: white;
    color: var(--dark);
    transition: .2s ease-in;
    justify-self: end;
    grid-area: auto / 2 / auto / auto;
}

.booking-form__submit-btn:hover {
    background-color: var(--dark);
    color: var(--light);
}


@media screen and (max-width: 850px) {

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__logotype {
        margin: 0 1rem 0 1rem;
    }

    .header__desktop-navigation {
        display: none;
    }

    .header__burger-container {
        display: flex;
    }

    .wrapper {
        max-width: 100%;
        margin: 0;
        box-shadow: none;
        padding: 0;
    }

    .main {
        padding: 0 1rem;
    }

}

@media screen and (max-width: 600px) {

    /* Alla sidor */

    :root {
        font-size: 14px;
    }

    .header {
        border-top: none;
    }

    .hero__title-wrapper {
        margin: 4rem 0 2rem 0;
    }

    .hero__title-top,
    .hero__title-bottom {
        font-size: 4.5rem;
    }

    .hero__image {
        height: 40vh;
    }

    .footer {
        border-bottom: none;
    }

    /* Index */

    .main__testimonials-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 4rem 0;
        gap: 8rem;
    }

    .main__hotel-offerings {
        justify-self: center;
    }


    /* About */

    .main__facilities-section {
        padding: 0;
        grid-template-rows: auto;
    }

    .facilities-section__room-article,
    .facilities-section__room-article--reversed {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

    .facilities-section__room-article--border {
        padding: 2rem 0;
        margin: 2rem 0;
    }

    .facilities-section__room-picture {
        padding: 0;
        max-width: 100%;
    }

    .facilities-section__description-wrapper,
    .facilities-section__description-wrapper--reversed {
        order: 1;
        padding: 0;
        margin: .5rem 0;
    }

    /* Booking.html */
    .booking-form {
        display: flex;
        flex-direction: column;
    }

    .booking-form__submit-btn {
        align-self: end;
    }
}